@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#form {
  display: inline;
  justify-content: center;
}

input {
  margin: 0 auto;
}

.hide {
  display: none;
}